.App {

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-nav{
  
  background-color: white;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  align-items: center;
  

}
.App-nav-icon{
  width: 8%;
}
.App-nav >h2{
  width: 80%;
  margin: 15px 0;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);  
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
 
  text-decoration: underline;
}
.memeForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  border: 3px solid black;
  padding-bottom: 80px;
  width: 60%;
}
.memeForm > input{
  height: 30px;
  width:50%;
  margin:15px;
  text-indent: 7px;
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid black;
  outline: none;
}
.memeForm >button{
  width: 30%;
  background-color: transparent;
  font-family: impact, sans-serif;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.memeForm >button:hover{
  transform: scale(1.071);
}
.Content-Image{
  border-radius: 7px;
  max-width: 50vw;
}
.imageSection{
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 5%;
  max-width:100%;
  max-height: 60%;
}
.imageSection>img{
  margin:100px;
}
.footer{
  width: 100%;
  height: 200px;
  margin-top: 5%;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Handlee', cursive;
  font-size: 1.2rem;
  background-color: white;
}
.FirstText{
  position: absolute;
  width: fit-content;
  overflow-wrap: break-word;
  text-align: center;
  transform: translateX(-50%);
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;

  z-index: 9;
  cursor: move;
}